<nav class="bottom-nav">
	<a href="#" class="nav-item">
		<i class="fa-solid fa-house"></i>
		<span>Accueil</span>
	</a>

	<a href="#" class="nav-item is-active">
		<i class="fa-solid fa-book"></i>
		<span>Catalogue</span>
	</a>

	<div class="nav-item--center-wrapper">
		<a href="{{ path('app_home') }}" class="nav-item--center">
			<img src="{{ asset('images/Icon.svg') }}" alt="Icône">
		</a>
	</div>


	<a href="#" class="nav-item">
		<i class="fa-solid fa-heart"></i>
		<span>Favoris</span>
	</a>

	<a href="#" class="nav-item">
		<i class="fa-solid fa-user"></i>
		<span>Profil</span>
	</a>
</nav>
